<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="TimesheetEntities" connectionString="metadata=res://*/Timesheet.csdl|res://*/Timesheet.ssdl|res://*/Timesheet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALLEN-PC;initial catalog=Timesheet;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>