<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="HubEntities" connectionString="metadata=res://*/Entities.Hub.csdl|res://*/Entities.Hub.ssdl|res://*/Entities.Hub.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:mssql2.cloudsites.gearhost.com;Initial Catalog=hub;User ID=hub;Pwd=dYarWbNY;integrated security=False;multipleactiveresultsets=True;&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ApplicationServices" connectionString="Data Source=tcp:mssql2.cloudsites.gearhost.com;Initial Catalog=hub;User ID=hub;Pwd=dYarWbNY;integrated security=False;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TimesheetEntities" connectionString="metadata=res://*/Timesheet.csdl|res://*/Timesheet.ssdl|res://*/Timesheet.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:mssql2.cloudsites.gearhost.com;Initial Catalog=timesheet;User ID=timesheet;Pwd=P3Jt6FbE;integrated security=False;multipleactiveresultsets=True;&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>